<a href="https://colab.research.google.com/github/roxyconstantine-dev/Proyecto-Final-de-An-lisis-Datos/blob/main/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Proyecto final de Posgrado de Analisis de Datos con Python

En el siguente proyecto se realiza en analisis de datos concretos de muestras de laboratorio de la industria minera realizados por el CIMPPIN.

In [40]:
import pandas as pd
import numpy as np

from sklearn.decomposition import FactorAnalysis, PCA
from sklearn.cluster import AgglomerativeClustering
from scipy.cluster.hierarchy import dendrogram, linkage

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split, RandomizedSearchCV, learning_curve

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import uniform

In [41]:
import pandas as pd
url="https://github.com/roxyconstantine-dev/Proyecto-Final-de-An-lisis-Datos/blob/main/ParaRosana.xlsx?raw=true"
datos=pd.read_excel(url)
datos

,Código,Pilas:,Frente:,Ni,Co,Fe,SiO2,MgO,Al2O3,Cr2O3,Mn,Cu,Zn,Na,K
0,M1,1,YS,1.23,0.130,42.01,8.46,2.98,4.85,2.00,1.00,0.02,0.03,0.21,0.01
1,M2,2,CE,0.93,0.050,41.59,4.05,0.52,6.05,1.46,0.36,0.02,0.02,0.22,0.01
2,M3,3,CE,1.10,0.070,44.80,5.87,0.40,14.41,1.35,0.55,0.02,0.02,0.22,0.01
3,M4,4,CE,1.14,0.080,43.96,5.12,0.96,8.09,1.25,0.57,0.02,0.02,0.22,0.00
4,M5,5,CE,1.11,0.090,43.98,4.85,0.40,9.99,1.30,0.64,0.02,0.02,0.15,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,M414,236,YN,1.32,0.074,28.71,21.43,7.19,2.71,1.27,0.57,NaN,NaN,NaN,NaN
414,M415,237,YN,1.31,0.169,42.99,7.65,1.20,7.63,1.95,1.01,NaN,NaN,NaN,NaN
415,M416,238,YN,1.31,0.118,39.61,11.51,2.64,6.09,1.73,0.74,NaN,NaN,NaN,NaN
416,M417,239,YN,1.50,0.113,34.19,14.88,4.79,4.05,1.50,0.79,NaN,NaN,NaN,NaN
417,M418,240,YN,1.72,0.096,36.29,15.13,3.86,3.92,1.61,0.72,NaN,NaN,NaN,NaN

Para conocer el numero de datos faltantes se ejecuta el siguiente codigo

In [47]:
datos.isnull().sum().sum()

1115

Tenemos numerosos datos vacios.
Calculemos los valores faltantes por columna.

In [57]:
datos.isnull().sum()

Código        0
Pilas:        0
Frente:       0
Ni            2
Co            2
Fe            2
SiO2          2
MgO           2
Al2O3         2
Cr2O3       118
Mn            2
Cu          236
Zn          236
Na          236
K           275
dtype: int64

In [61]:
datos2 = datos.dropna()
datos2

,Código,Pilas:,Frente:,Ni,Co,Fe,SiO2,MgO,Al2O3,Cr2O3,Mn,Cu,Zn,Na,K
0,M1,1,YS,1.23,0.13,42.01,8.46,2.98,4.85,2.00,1.00,0.02,0.03,0.21,0.01
1,M2,2,CE,0.93,0.05,41.59,4.05,0.52,6.05,1.46,0.36,0.02,0.02,0.22,0.01
2,M3,3,CE,1.10,0.07,44.80,5.87,0.40,14.41,1.35,0.55,0.02,0.02,0.22,0.01
3,M4,4,CE,1.14,0.08,43.96,5.12,0.96,8.09,1.25,0.57,0.02,0.02,0.22,0.00
4,M5,5,CE,1.11,0.09,43.98,4.85,0.40,9.99,1.30,0.64,0.02,0.02,0.15,0.01
5,M6,6,CE,1.14,0.08,43.33,7.38,0.76,11.63,1.42,0.63,0.02,0.02,0.12,0.00
6,M7,7,CE,1.02,0.11,37.09,10.34,2.08,13.93,1.48,0.73,0.02,0.03,0.12,0.01
7,M8,8,YS,0.83,0.09,42.71,6.89,1.72,8.70,1.66,0.61,0.02,0.02,0.13,0.01
8,M9,9,CE,1.31,0.11,43.48,5.97,1.58,7.66,1.72,0.76,0.02,0.03,0.15,0.00
9,M10,10,YS,0.73,0.08,42.46,14.76,0.84,11.43,1.05,0.51,0.02,0.02,0.12,0.00
10,M11,11,YS,0.68,0.11,42.42,2.77,0.47,12.51,1.39,0.57,0.01,0.02,0.17,0.00
11,M12,12,CE,1.37,0.11,44.80,4.71,1.70,7.14,1.62,0.64,0.01,0.03,0.11,0.00
12,M13,13,YS,0.73,0.12,42.54,2.30,0.48,15.34,2.06,0.69,0.02,0.02,0.17,0.01
13,M14,14,CE,1.26,0.09,38.61,10.82,0.29,10.08,1.88,0.62,0.02,0.02,0.14,0.01
14,M15,15,YS,1.31,0.13,40.71,10.96,2.08,8.35,1.61,0.90,0.02,0.02,0.13,0.01
15,M16,16,YS,1.52,0.11,35.66,16.75,3.85,8.56,1.59,0.77,0.02,0.03,0.14,0.01
16,M17,17,YS,1.69,0.17,32.27,29.34,5.00,7.84,1.36,1.12,0.01,0.03,0.14,0.01
17,M18,18,CE,1.64,0.03,15.58,50.08,12.51,6.61,0.72,0.30,0.01,0.02,0.13,0.01
18,M19,19,CE,1.33,0.04,9.01,29.37,13.02,7.29,0.72,0.27,0.01,0.02,0.18,0.01
19,M20,20,PG,0.44,0.10,33.90,7.88,0.84,7.44,1.55,0.81,0.01,0.01,0.15,0.01
20,M21,21,YS,1.00,0.10,44.10,40.42,10.46,8.43,0.42,0.69,0.01,0.03,0.13,0.00
21,M22,22,PG,0.91,0.09,34.96,8.68,0.56,9.50,1.55,0.62,0.01,0.03,0.17,0.01
22,M23,23,YN,1.37,0.04,36.02,13.42,3.80,7.07,1.76,0.27,0.01,0.02,0.16,0.01
23,M24,24,PG,0.90,0.09,30.19,10.84,4.26,10.08,1.63,0.60,0.01,0.04,0.14,0.00
24,M25,25,YN,1.14,0.05,32.53,29.15,0.29,11.66,3.94,0.27,0.01,0.02,0.15,0.01
25,M26,26,YN,1.07,0.06,35.39,18.39,4.34,5.80,1.81,0.34,0.01,0.02,0.12,0.00
26,M27,27,YS,0.99,0.03,13.94,45.61,10.42,4.13,0.60,0.25,0.01,0.02,0.12,0.00
27,M28,28,YN,1.58,0.17,29.89,30.01,4.79,6.69,1.21,0.81,0.01,0.04,0.12,0.01
28,M29,29,YS,0.84,0.03,15.03,45.66,8.53,4.52,0.70,0.24,0.01,0.01,0.11,0.01
29,M30,30,YN,1.17,0.33,30.12,14.88,3.23,10.00,1.03,1.38,0.01,0.03,0.12,0.01
30,M31,31,YN,1.26,0.28,29.44,14.88,3.29,10.97,0.91,1.12,0.01,0.03,0.12,0.00

Como se puede ver al eliminar totalmente los datos que tioene elementos con valores vaciós se pierde demasiada información.

In [62]:
datos.describe()

,Pilas:,Ni,Co,Fe,SiO2,MgO,Al2O3,Cr2O3,Mn,Cu,Zn,Na,K
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,16.000000,1.120645,0.102258,35.242581,16.471290,3.433871,8.927419,1.443548,0.633548,0.014516,0.023871,0.147742,0.006452
std,9.092121,0.292049,0.065509,9.933402,13.872901,3.728237,2.844935,0.624791,0.279971,0.005059,0.007154,0.033036,0.004864
min,1.000000,0.440000,0.030000,9.010000,2.300000,0.290000,4.130000,0.420000,0.240000,0.010000,0.010000,0.110000,0.000000
25%,8.500000,0.920000,0.065000,31.230000,6.430000,0.660000,7.105000,1.130000,0.435000,0.010000,0.020000,0.120000,0.000000
50%,16.000000,1.140000,0.090000,37.090000,10.840000,2.080000,8.430000,1.460000,0.620000,0.010000,0.020000,0.140000,0.010000
75%,23.500000,1.310000,0.110000,42.625000,23.770000,4.300000,10.525000,1.645000,0.765000,0.020000,0.030000,0.165000,0.010000
max,31.000000,1.690000,0.330000,44.800000,50.080000,13.020000,15.340000,3.940000,1.380000,0.020000,0.040000,0.220000,0.010000