<a href="https://colab.research.google.com/github/roxyconstantine-dev/Proyecto-Final-de-An-lisis-Datos/blob/main/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Proyecto final de Posgrado de Analisis de Datos con Python

En el siguente proyecto se realiza en analisis de datos concretos de muestras de laboratorio de la industria minera realizados por el CIMPPIN.

In [3]:
import pandas as pd
import numpy as np

from sklearn.decomposition import FactorAnalysis, PCA
from sklearn.cluster import AgglomerativeClustering
from scipy.cluster.hierarchy import dendrogram, linkage

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split, RandomizedSearchCV, learning_curve

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
import math
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import uniform
import statistics as stats





   # print(data.iloc[i]['first_name'])
   #for column in [data.isnull().any(axis=1)==True] : #Recorrer las columnas e interactura solo sobre las que tiene elementos nulos
     
    # for index in range(df.shape[1]):
    
     #   return lista

In [4]:
import pandas as pd
url="https://github.com/roxyconstantine-dev/Proyecto-Final-de-An-lisis-Datos/blob/main/ParaRosana.xlsx?raw=true"
datos=pd.read_excel(url)
datos

,Código,Pilas:,Frente:,Ni,Co,Fe,SiO2,MgO,Al2O3,Cr2O3,Mn,Cu,Zn,Na,K
0,M1,1,YS,1.23,0.130,42.01,8.46,2.98,4.85,2.00,1.00,0.02,0.03,0.21,0.01
1,M2,2,CE,0.93,0.050,41.59,4.05,0.52,6.05,1.46,0.36,0.02,0.02,0.22,0.01
2,M3,3,CE,1.10,0.070,44.80,5.87,0.40,14.41,1.35,0.55,0.02,0.02,0.22,0.01
3,M4,4,CE,1.14,0.080,43.96,5.12,0.96,8.09,1.25,0.57,0.02,0.02,0.22,0.00
4,M5,5,CE,1.11,0.090,43.98,4.85,0.40,9.99,1.30,0.64,0.02,0.02,0.15,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,M414,236,YN,1.32,0.074,28.71,21.43,7.19,2.71,1.27,0.57,NaN,NaN,NaN,NaN
414,M415,237,YN,1.31,0.169,42.99,7.65,1.20,7.63,1.95,1.01,NaN,NaN,NaN,NaN
415,M416,238,YN,1.31,0.118,39.61,11.51,2.64,6.09,1.73,0.74,NaN,NaN,NaN,NaN
416,M417,239,YN,1.50,0.113,34.19,14.88,4.79,4.05,1.50,0.79,NaN,NaN,NaN,NaN
417,M418,240,YN,1.72,0.096,36.29,15.13,3.86,3.92,1.61,0.72,NaN,NaN,NaN,NaN

Para conocer el numero de datos faltantes se ejecuta el siguiente codigo

In [5]:
datos.isnull().sum().sum()

1115

Tenemos numerosos datos vacios.
Calculemos los valores faltantes por columna.

In [22]:
datos2 = datos.fillna(0)
datos2

,Código,Pilas:,Frente:,Ni,Co,Fe,SiO2,MgO,Al2O3,Cr2O3,Mn,Cu,Zn,Na,K
0,M1,1,YS,1.23,0.130,42.01,8.46,2.98,4.85,2.00,1.00,0.02,0.03,0.21,0.01
1,M2,2,CE,0.93,0.050,41.59,4.05,0.52,6.05,1.46,0.36,0.02,0.02,0.22,0.01
2,M3,3,CE,1.10,0.070,44.80,5.87,0.40,14.41,1.35,0.55,0.02,0.02,0.22,0.01
3,M4,4,CE,1.14,0.080,43.96,5.12,0.96,8.09,1.25,0.57,0.02,0.02,0.22,0.00
4,M5,5,CE,1.11,0.090,43.98,4.85,0.40,9.99,1.30,0.64,0.02,0.02,0.15,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,M414,236,YN,1.32,0.074,28.71,21.43,7.19,2.71,1.27,0.57,0.00,0.00,0.00,0.00
414,M415,237,YN,1.31,0.169,42.99,7.65,1.20,7.63,1.95,1.01,0.00,0.00,0.00,0.00
415,M416,238,YN,1.31,0.118,39.61,11.51,2.64,6.09,1.73,0.74,0.00,0.00,0.00,0.00
416,M417,239,YN,1.50,0.113,34.19,14.88,4.79,4.05,1.50,0.79,0.00,0.00,0.00,0.00
417,M418,240,YN,1.72,0.096,36.29,15.13,3.86,3.92,1.61,0.72,0.00,0.00,0.00,0.00

In [23]:
datos.isnull().sum()
#Vinedo valores nulos por elementos químicos.

Código        0
Pilas:        0
Frente:       0
Ni            2
Co            2
Fe            2
SiO2          2
MgO           2
Al2O3         2
Cr2O3       118
Mn            2
Cu          236
Zn          236
Na          236
K           275
dtype: int64

Los valores de Cr2O3,Cu,Zn,Na,K exiben la mayor cantidad de valores nulos.Vamos a analizar su comportamiento para predecir ls valores de los que podrian tratarse esatas casillas nulas ya que eliminarlas nos haría perder mucha información.

In [24]:
datos2.describe()

,Pilas:,Ni,Co,Fe,SiO2,MgO,Al2O3,Cr2O3,Mn,Cu,Zn,Na,K
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,126.772727,1.069139,0.117364,39.917560,8.618541,3.455744,6.771627,1.449474,0.743756,0.007273,0.014880,0.024737,0.000861
std,89.538885,0.297355,0.057025,8.163978,7.215808,4.161208,2.402768,1.102215,0.318624,0.009042,0.018036,0.042149,0.002809
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,54.250000,0.850000,0.080000,36.147500,3.447500,0.840000,5.247500,0.000000,0.550000,0.000000,0.000000,0.000000,0.000000
50%,112.000000,1.050000,0.100000,42.410000,6.590000,1.740000,6.465000,1.585000,0.705000,0.000000,0.000000,0.000000,0.000000
75%,180.750000,1.250000,0.150000,45.802500,11.105000,4.377500,8.070000,2.192500,0.880000,0.020000,0.030000,0.040000,0.000000
max,338.000000,2.000000,0.330000,50.300000,50.080000,21.960000,16.790000,4.710000,3.000000,0.040000,0.050000,0.220000,0.010000

Como se puede observar hay valores que están normalizados como el cobre y otros que no como el hierro.Es necesario normalizar todos los valores para que sean coherentes entre si.Se trata de muestras con el mismo peso así que tener los valores normalizados no nos influye en nuestro resultado y nos simplifica el cálculo.Tratandose el valor 1 de una muestra completa y los valores menores en fracciones de dicha muestra.

In [25]:

from sklearn.preprocessing import MinMaxScaler
import numpy as np


datos2['Ni'] = MinMaxScaler().fit_transform(np.array(datos2['Ni']).reshape(-1,1))
df_sklearn=datos2['Ni']
# view normalized data  
display(df_sklearn)

0      0.615
1      0.465
2      0.550
3      0.570
4      0.555
       ...
413    0.660
414    0.655
415    0.655
416    0.750
417    0.860
Name: Ni, Length: 418, dtype: float64